
     body {
            background-color: #27323E;
            font-family: "Roboto", serif;
            
        }
        .navbar {
            background-color: transparent !important;
        }
        .navbar .nav-link, .navbar .navbar-brand {
            color: white !important;
        }
        .bott {
            background: linear-gradient(108.35deg, #FC4A1A -36.03%, #F7B733 128.44%);
            display: inline-block !important;
            cursor: pointer;
            transition:  1s ease; 
        }
        .bott:hover {
            background: linear-gradient(108.35deg, #ee3704 -36.03%, #e0a01f 128.44%);
            transform: scaleX(1.1) !important;
        }
        .bttn {
            border-bottom-left-radius: 0 !important;
        }
        .left-sec {
            font-size: 22px;
            line-height: 25.78px;
        }
        i {
            font-size: 30px;
        }
        .icons ul li a {
            display: inline-block !important;
            width: 40px !important;
            height: 40px !important;
            border-radius: 50%;
            background-color: aliceblue;
            justify-content: center;
            align-items: center;
            display: flex !important;
            text-decoration: none;
            box-shadow: 0 4px 8px rgba(0, 0, 0);
            transition: all 0.4s ease; 
        }
        .icons a:hover {
            transform: translate(0, -15%);
        }
        .right-sec img {
            height: 500px;
            border-radius: 40px;
            opacity: 0;
            transform: translateY(30px);
            animation: moveup 1.5s linear forwards;
        }
        .right-sec img {
            animation-delay: 1.5s;
        }
        .anim {
            opacity: 0;
            transform: translateY(30px);
            animation: moveup 1.6s linear forwards;
            line-height: 40px;
        }
        .icons {
            animation-delay: 1s;
            line-height: 30px;
        }
        .bttn {
            animation-delay: 0.3s;
        }
        .text {
            animation-delay: 0.7s;
        }
        .bbttn {
            animation-delay: 1.3s;
        }
        @keyframes moveup {
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        .about-right .gradiant-div{
          margin-left: -50px;
        }
        .navbar .navbar-brand span {
            background: linear-gradient(108.35deg, #FC4A1A -36.03%, #F7B733 128.44%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        font-weight: 700;
        }
       .spener{
        background: linear-gradient(#212529,  #212529),radial-gradient(circle at top left , #FC4A1A  ,#F7B733 );
        background-origin: border-box;
    background-clip: content-box , border-box;
    color: #ffffff;
    border: 1px solid transparent;
    padding: 1px;
    width:45px;
    height:77px;
    position: relative;
    margin-left: 45% ;
  margin-bottom: 5% !important;
   
   
}
@keyframes spener {
  0%{
 bottom: 0;
  }
  50%{
bottom: 80%;
  }
  100%{
bottom: 0;
  }
}

.spener div{
  width: 15px;
    height: 15px;
    border-radius: 50%;
    background: linear-gradient(108.35deg, #FC4A1A -36.03%, #F7B733 128.44%);
    position: absolute;
    animation: spener 1s infinite;
}
        .about{
            background-color:#212529;
         
        }
        .about-left{
    background: linear-gradient(#212529,  #212529),radial-gradient(circle at top left , #FC4A1A  ,#F7B733 );
    background-origin: border-box;
    background-clip: content-box , border-box;
    color: #ffffff;
    border: 1px solid transparent;
    padding: 2px;
    width: 270px;
    height:400px;
    position: relative;
   
}

.about-left img{
    height: 100%;
    width: 100%;
}
.about-left span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    transform: translate(-50% , -50%);
}
.cer1{
  bottom: -4%;
  left :25%;
}
.cer2{
  bottom: -10%;
  left :52%;
}
.cer3{
  bottom: -3%;
  left : 80%;
}
.about-left span img{
    width: 100%;
    height: 100%;
}
.about-left{
    margin-bottom: 7%;
}


.gradiant-div{
  width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(108.35deg, #FC4A1A -36.03%, #F7B733 128.44%);
    position: absolute;
  
}
.about-right{
width: 50%;
}
.about-right h1{
margin-left: -25px;
}
.cart-item p{
    color: #27323E;

}
.cart-item{
    background-color: #D9D5D5;
    
}
.left{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.left img{
    width: 100%;
    height: 100%;
}
.right i{
    font-size: 13px !important;
    color: #27323E;
    margin-left: 5px;
}
.right h6{
    color: #27323E; 
}
.right p{
    margin-top: -10px;
}
.testimonial .row{
    gap:30px;
}

.footer{
    background-color: #27323E;
    margin-top: 50px !important;
  
}
.footer-content{
  border-bottom: 2px solid #D9D9D9;
}
.contact div div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(108.35deg, #FC4A1A -36.03%, #F7B733 128.44%);
}
.muted{
  color:  #9F9F9F;
}
.input{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
/*  */
.touch input::placeholder , .textarea::placeholder {
  color: #D9D5D5;
}

h2 {
  color: white;
}

.form-input {
  border: 2px solid #ffa500;
  background-color: transparent;
  border-radius: 25px;
  color: white;
  padding: 10px 15px;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 10px #ffa500;
}

.btn-gradient {
  background: linear-gradient(to right, #ffa500, #ff4500);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn-gradient:hover , .navbar-toggler:hover {
  background: linear-gradient(to right, #ff4500, #ffa500);
  box-shadow: 0 0 10px #ff4500;
  color: #27323E;
}


.info-box {
  background: linear-gradient(to right, #ff4500, #ffa500);
  color: white;
  border-radius: 15px;
}
.touch{
  margin-top: 150px;
  background-color:  #212529;
}
  
/*  */
.services-section {
    background:  #27323E;
    ;
    color: white;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.text-orange {
    color: #f58220;
}

.service-box {
    background-color: #252b38;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #f58220;
    transition: transform 0.3s ease;
}

.service-box:hover {
    transform: scale(1.05);
}

.service-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f58220;
}
.project{
  background-color:#212529;
  overflow: hidden;
  
}
.fp{
  font-size: 16px;
  color: #FC4A1A;
  margin: 0;

}
.ep{
  font-size: 36px;
  color: #CCD6F6;
}
.about-right {
  text-align: center;
  margin-top: 100px;
}
.portfolio{
  background-color: #212529;
}

.height1 {
  height: 361px;
}
.height2 {
  height: 181px;
}
.height2 img {
  aspect-ratio: 1 / 1; 
  object-fit: cover;
}
.height1 img {
  aspect-ratio: 1 / 1; 
  object-fit: cover;
}

.navbar-toggler {
  background: linear-gradient(to right, #ffa500, #ff4500);
      border-radius: 50%;     
    border: none ;          
    padding: 10px;
    box-shadow: none !important;         
}

.navbar-toggler-icon {
  filter: invert(1);
}
.portfolio .gradiant-div{
  margin-left: -150px;
}
.info-box i{
font-size: 18px;
}
@media (max-width :990px) {
  .navbar-nav{
  margin-left: 28px !important;
}
}
@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    align-items: center; 
  }
.footer input{
  margin-bottom: 50px;
}
.right-sec img{
  height: 370px;
  margin-bottom: 10px;
}
  .about-left {
    margin-bottom: 20px;
  }

  .about-right{
    width: fit-content ;
    display: flex;
    justify-content: center;
   flex-direction: column;
   align-items: center;
  }
  .about-right .gradiant-div{
  margin-left: -50px  ; 

}
  .about-right h1 {
    font-size: 1.8rem; 
    margin-top: 10px !important;
  }
  
  .about-right p {
    font-size: .8rem; 
  }
  .sections {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }

  .left-sec {
    margin-bottom: 20px; 
  }

  .left-sec h1 {
    font-size: 1.8rem; 
  }

  .left-sec p {
    font-size: 1rem; 
  }

  .icons ul {
    padding: 0; 
    margin-top: 15px; 
 
  }

  .bott {
    font-size: 1rem;
    padding: 10px 20px; 
  }

  .right-sec {
    margin-top: 20px; 
  }
  .portfolio .gradiant-div{
  margin-left: -110px;
  margin-top: -7px;
}
  
}

@media (max-width: 480px) {
  .left-sec h1 {
    font-size: 1.5rem; 
  }

  .left-sec p {
    font-size: 0.9rem; 
  }

  .icons ul li {
    margin: 0 5px; 
  }

}
.portfolio img{

 width: 100%;
}
